* {
	box-sizing: border-box;
}

h1 {
	font-size: 36px;
	font-family: monospace;
	text-align: center;
	color: black;
	margin-bottom: 60px;
}

p {
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	font-family: monospace;
	font-size: 14px;
	width: 80%;
	position: relative;
}

.section {
	background-color: lightpink;
	border: 3px solid black;
	border: 3px solid black;
	text-align: justify;
	margin-top: 20px;
	margin-right: 20px;
	padding: 3px;
	position: relative;
}

span {
	font-size: 20px;
	font-family: monospace;
	font-weight: bold;
	text-align: center;
	width: 150px;
	border: 2px solid black;
	float: right; top :0; right: 0;
	position: absolute;
}

#box1 {
	background-color: hotpink;
	color: black;
}
#box2 {
	background-color: darkred;
	color: white;
}
#box3 {
	background-color: white;
	color: hotpink;
}

.row {
	width: 100%;
}

/*Large Devices*/

@media (min-width: 992px) {
	.col-lg-4 {
		width: 33.33%;
		float: left;
	}
}

/*Medium Devices*/

@media (min-width: 786px) and (max-width: 991px) {
	.col-md-6 {
		width: 50%;
		float: left;
		margin-right: auto;
		margin-left: auto;
	}
	.col-md-12 {
		width: 100%;
		float: left;
		margin-right: auto;
		margin-left: auto;
	}

}

/*Small Devices*/

@media (max-width: 767px) {
	.col-sm-12 {
		width: 100%;
		float: left;
	}
}